@font-face {
    font-family: Monofonto; 
    src: url(fonts/Monofonto.ttf);
 } 

.logo {
    position: absolute;
    left: 0;
    top: 0;
 }

.bottom {
    position: fixed;
    bottom: 0;
}

body {
    background-image: url(images/bg.png);
    background-size: cover;
    color: #fcc47b;
    font-family: Monofonto;
}

a {
    color:wheat;
}